* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    /*Significa um "movimento suave" ao dar scroll (rolar para baixo)*/
}

:root {
    /* "root" (raiz) - raiz do projeto é acrecentado os valores abaixo. o "--" e o nome que vem adiante, entende-se como uma variável
    (um valor cravado) toda vez que quero chama-lo usa-se "--" */
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0, 1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navbar {
    position: fixed;
    top: 0;  /*  garante que a navbar ficará no topo sempre  */
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;  /*  Define quem fica na frente  */
    padding: 1.5rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

a {
    color: var(--claro);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

a::after {  /*  "after => depois", ultilizado para colocar coisas depois de algum item  */
    content: '';  /*  tem que ter obrigatóriamente ao usar o after  */
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.3s ease;  /*  toda vez que o valor do width trocar no "after/hover" a transição é aplicada  */
}

a:hover::after {
    width: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 14px 29px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 5px 14px 29px 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 14px 29px 7px rgba(0, 0, 0, 0.6);
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;  /*  Animação de movimento (declarada em "@keyframes flutuar", "infinite" = animação infinita  */
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    padding: 20px;
}

.paragrafo01 {
    font-size: 1.2rem;
}

.sobre {
    padding: 6rem 2rem;
    text-align: center;
}

.sobre-titulo {
    font-size: 3rem;
    margin-bottom: 50px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
}

.projetos {
    padding: 6rem 2rem;
}

.img-pj {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.cx-projeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);  /* "trasnform" transforma => translate eixo Y = movimenta em -10px e scale aumenta a escala (maior)  */
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-titulo {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-nome {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;  /*  altura da linha, para ficar mais alta que o comum  */
}

.projetos-nome {
    margin-bottom: 8px;
}

.cx-textos {
    padding: 1.5rem;
}

.contatos {
    padding: 6rem 2rem;
}

.contato-titulo {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.campo-form {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 2rem;
}

.msg {
    margin-bottom: 1.5rem;
}

.digite {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    color: var(--claro);
    outline: none;
    border: 1px solid var(--vidro);
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 299, 0,3);
}

.botao {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao:hover {
    transform: translateY(-4px);
    box-shadow: 0 5 15px rgba(79, 70, 229, 0.4);
}

.digite:hover {
    background: var(--maisescuro);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),  /* Cria um circulo */
    radial-gradient(circle at 80% 90%, var(--secundaria) 0%, transparent 20%),
    var(--maisescuro);
}

@keyframes flutuar {  /* Serve para criar animações. */
    0%, 100% {  /* Começa no ponto 0 e vai até 100 */
        transform: translateY(0);
    }

    50% {  /*  Nos 50% do movimento ele diminui em 20  */
        transform: translateY(-20px);
    }
}